<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225518859524-dq64r7mh3craohfeg6si17k8025is8no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225518859524-dq64r7mh3craohfeg6si17k8025is8no</string>
	<key>API_KEY</key>
	<string>AIzaSyAlgpS-ZESv3HA3IuqEi1u1CaYfdqlPdUI</string>
	<key>GCM_SENDER_ID</key>
	<string>225518859524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lilekov.lseway</string>
	<key>PROJECT_ID</key>
	<string>e-way-2acfa</string>
	<key>STORAGE_BUCKET</key>
	<string>e-way-2acfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225518859524:ios:d2222af9b2f4c467e40c51</string>
</dict>
</plist>